
.container {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);

}
p{
  font-size: 16px;
}

header{
  background-color:#fec833 ;
  position: fixed;
  top: 0px;
  right: 50px;
  left: 50px;

}

nav{
  float: right;

}
.logo_image{
    width: 50px;
    overflow: hidden;
  margin-bottom: -24px;
}
a{
  text-decoration: none;
  color: black;
  padding: 16px 40px;
margin-right: -9px;
position: relative;
  top: -16px;
  right: 9px;


}
a:hover{
  background-color: #e2bd70;
  
}

main{
  position: center;
  margin-top: 450px;
  margin-bottom: 450px;
}
h1{
  text-align: center;
}
p{
padding-left: 10%;
  padding-right: 10%;
}

.center{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}

#products main{
  position: center;
  margin-top: 100px;
}

#products .center{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: 80%;
}

#products p{
  padding-right: 5%;
  padding-left: 5%;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-top: 150px;

}

.flex-container > div {
  background-color: #e2bd70;

  margin: 2rem;
  padding: 10px;
  font-size: 30px;
  width: 24%;
  padding-left: 30px;
  padding-bottom: 250px;


}

#contact h1{
  padding-left: 10rem;
}
#contact iframe{
position: relative;
margin-left: 40rem;
margin-right: 10rem;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dcdacf;
  z-index: -1;
}
.background2 {
  position: fixed ;
  top: 49px;
  left: 50px;
  right: 50px;
  bottom: 150px;
  background-image:linear-gradient(rgba(220, 218, 207, 0), rgb(220, 218, 207)),url("https://img.freepik.com/free-vector/premium-gray-background-with-golden-lines_1017-27821.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

}

